---
import { specialtiesData } from "../../data/specialtiesData";
import SpecialtyCard from "../ui/SpecialtyCard.astro";
import Title from "../ui/Title.astro";
---

<!-- class="w-full min-h-screen overflow-x-hidden transition-colors duration-300" -->
<section id="specialties" class="w-full overflow-hidden transition-colors duration-300">
  <div
    class="relative z-10
            w-full max-w-7xl mx-auto
            px-4 sm:px-5 md:px-6 lg:px-10
            pb-10 md:pb-16"
  >
    <div
      class="flex-1
                flex
                flex-col
                items-start
                gap-8
                md:gap-6
                select-none
                min-w-0"
    >
      <Title title="Áreas de" span="Especialidad" />

      <div class="grid
          grid-cols-1 md:grid-cols-2
          gap-5 md:gap-6
          w-full">
        {
          specialtiesData.map(data => (
            <SpecialtyCard
              title={data.title}
              description={data.description}
              longDescription={data.longDescription}
              icon={data.icon}
              category={data.category}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
